/**
 * Styles for DraggableIssueCard component.
 */

.draggable {
  cursor: grab;
  touch-action: none;
  user-select: none;
  display: block;
  width: 100%;
}

.draggable:active {
  cursor: grabbing;
}

.draggable[data-dragging='true'] {
  cursor: grabbing;
}

.overlay {
  cursor: grabbing;
  box-shadow: var(--shadow-lg);
  pointer-events: none;
}
